.nav-btns{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  height: 100%;
  padding: 0;
}
li{
  padding: 0;
}


.button{
  padding: 1px 5px;
  display: inline-block;
  background-color: lightgray;
  border: 2px solid #000;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-weight : bold;
}



.search-form{
  display: flex;
  align-items: center;
}

.search-form input{
  background-color: lightgray;
}
